/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 10px;
  background: #D7D7BD url(images/background.png) repeat;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* ------------------------------------------------------------ [ Container ] */

body > .container {
  padding: 60px 15px 0;
  background: #FFFFFF repeat-y left top;
//  border-radius: 15px;
}

#container h1 {
    margin: 10px 0px;
}

#container a {
        text-decoration: none;
}

#container ul {
    padding-left: 20px;
    list-style: square;
}

#container dt {
   color: #E37500;
}

/* ----------------------------------------------------------------- [ Misc ] */

#container #text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


.cus table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    min-width:30%;
}

.cus th, td {
    text-align: left;
    padding: 8px;
}

.cus tr:nth-child(even){background-color: #f2f2f2}


/* ------------------------------------------------------------------ [ EOF ] */
