/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'EB Garamond', serif;
}

code {
    font-family: 'Inconsolata', monospace;
}

pre {
    font-family: 'Inconsolata', monospace;
    border-left: 1px solid black;
    background-color: #ffffff;
    font-size: 75%;
    padding-left: 10px;
//    margin-left: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  border-top: 2px solid #000000  ;
}

.bg-jfdm {
  background-color: #000000 !important;
}

/* ------------------------------------------------------------ [ Container ] */

body .container {
  padding: 30px 15px 0;
//  background: #FFFFFF repeat-y left top;
//  border-radius: 15px;
}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

a {
        text-decoration: none;
}

ul {
    padding-left: 20px;
    list-style: square;
}

dt {
   color: #E37500;
}

blockquote {
    font-size: 90%;
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
}

/* ----------------------------------------------------------------- [ Misc ] */

.profile-sidebar {
    margin-top: 15px;
    font-size: 85%;
}

.container #text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.cus table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    min-width:30%;
}

.cus th, td {
    text-align: left;
    padding: 8px;
}

.cus tr:nth-child(even){background-color: #f2f2f2}


/* ------------------------------------------------------------------- [ Idris ]*/

.idris-data { color: red; }
.idris-type { color: blue; }
.idris-function {color: green; }
.idris-keyword { font-weight: bold; }
.idris-bound { color: purple; }
.idris-implicit { font-style: italic; }
.idris-underlined { text-decoration: underline; }

/* ------------------------------------------------------------------ [ EOF ] */
